<html>
<head>
<title>Reset your admin password at {{siteName}}</title>
</head>
<body>
<header>
{{siteName}}
</header>
<div>
<p>Hi, {{short}}!</p>
<p>We received a request to reset your password. If that request was not from you, please disregard this message. Otherwise, you can reset your password by clicking this link:</p>
<blockquote>
<strong>{{link}}</strong>
</blockquote>
<p>Thanks,</p>
<p>the {{siteName}} team</p>
</div>
</body>
</html>
